<%- include('./partials/header') %>

  <!-- section-->
  <div class="mt-4">
    <div class="container">
      <!-- row -->
      <div class="row ">
        <!-- col -->
        <div class="col-12">
          <!-- breadcrumb -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <% if (subCategoryName) { %>
                <li class="breadcrumb-item"><a href="/product/category/<%=category.slug%>"><%=category.name%></a></li>
                <li class="breadcrumb-item active" aria-current="page"><%=subCategoryName%></li>
              <% } else {%>
                <li class="breadcrumb-item active" aria-current="page"><%=category.name%></li>
              <% }%>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- section -->
  <div class=" mt-8 mb-lg-14 mb-8">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row gx-10">
        <!-- col -->
        <aside class="col-lg-3 col-md-4 mb-6 mb-md-0">
          <div class="offcanvas offcanvas-start offcanvas-collapse w-md-50 " tabindex="-1" id="offcanvasCategory" aria-labelledby="offcanvasCategoryLabel">

            <div class="offcanvas-header d-lg-none">
              <h5 class="offcanvas-title" id="offcanvasCategoryLabel">Filter</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ps-lg-2 pt-lg-0">
              <div class="mb-8">
                <h5 class="mb-3">Categories</h5>
                <!-- nav -->
                <ul class="nav flex-column ms-3">
                    <!-- nav item -->
                    <% subCategoryList.forEach((subCategory) => { %>
                      <li class="nav-item border-bottom w-100 "><a href="/product/category/<%=category.slug%>/<%=subCategory.slug%>" class="nav-link"><%=subCategory.name%></a></li>                
                    <% }) %>
                </ul>
              </div>
            </div>
            <div class="mb-8 position-relative">
              <div class="position-absolute p-5 py-8">
                <h3 class="mb-0">Fresh Fruits </h3>
                <p>Get Upto 25% Off</p>
                <a href="#" class="btn btn-dark">Shop Now<i class="feather-icon icon-arrow-right ms-1"></i></a>
              </div>
              <img src="/images/banner/assortment-citrus-fruits.png" alt="" class="img-fluid rounded ">
            </div>
          </div>
        </aside>
        <section class="col-lg-9 col-md-12">
          <!-- card -->
          <div class="card mb-4 bg-light border-0">
            <!-- card body -->
            <div class=" card-body p-3 px-4">
              <h2 class="mb-0 fs-4"><%=category.name%></h2>
            </div>
          </div>
          <!-- list icon -->
          <div class="d-lg-flex justify-content-between align-items-center">
            <div class="mb-3 mb-lg-0">
              <p class="mb-0"> <span class="text-dark"><%=total_product%> </span> Products found </p>
            </div>

            <!-- icon -->
            <div class="d-md-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center justify-content-between">
                <div class="ms-2 d-lg-none">
                  <a class="btn btn-outline-gray-400 text-muted" data-bs-toggle="offcanvas" href="#offcanvasCategory" role="button" aria-controls="offcanvasCategory"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-filter me-2">
                    <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                  </svg> Filters</a>
                </div>
              </div>

              <div class="d-flex mt-2 mt-lg-0">
                <div class="me-2 flex-grow-1">
                  <!-- select option -->
                  <select class="form-select">
                    <option selected>Show: 50</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                  </select>
                </div>
                <div>
                  <!-- select option -->
                  <select class="form-select">
                    <option selected>Sort by: Featured</option>
                    <option value="Low to High">Price: Low to High</option>
                    <option value="High to Low"> Price: High to Low</option>
                    <option value="Release Date"> Release Date</option>
                    <option value="Avg. Rating"> Avg. Rating</option>

                  </select>
                </div>
              </div>

            </div>
          </div>
          <!-- row -->
          <div class="row g-4 row-cols-xl-4 row-cols-lg-3 row-cols-2 row-cols-md-2 mt-2">
            <% product.forEach(prod => { %>
              <% if (prod.id != product.id) { %>
                  <%- include('./components/productCard', { 'product': prod, 'trends': trends }) %>
              <% } %>
            <% }) %>
          </div>
          <div class="row mt-8">
            <div class="col">
                     <!-- nav -->
              <nav>
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link  mx-1 " href="#" aria-label="Previous">
                      <i class="feather-icon icon-chevron-left"></i>
                    </a>
                  </li>
                  <li class="page-item "><a class="page-link  mx-1 active" href="#">1</a></li>
                  <li class="page-item"><a class="page-link mx-1 text-body" href="#">2</a></li>

                  <li class="page-item"><a class="page-link mx-1 text-body" href="#">...</a></li>
                  <li class="page-item"><a class="page-link mx-1 text-body" href="#">12</a></li>
                  <li class="page-item">
                    <a class="page-link mx-1 text-body" href="#" aria-label="Next">
                      <i class="feather-icon icon-chevron-right"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

<%- include('./partials/footer') %>